@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');

body {
    background-image: url(assets/imgs/mapanovo-global.jpg   );
    background-color: #00000059;
    background-size: auto;
    /* background-attachment: fixed; */
    background-position: center center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; 
    color: aliceblue;
    background-color: rgb(71, 64, 58);
    display: flex;
    justify-content: center;
    
}

main {
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 80%;
    gap: 5%;
    background-color: blue;
}

/* Header  */
header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-icon {
    height: 17px;
    width: auto;
}

.char-icon {
    width: 45px; 
    height: 45px;
    margin-right: 5px;
}

.titulo-header{
    height: 40px;
    width: auto;
}

.tibia-title {
    font-size: 40px;
    font-weight: bold;
    color: gold;
    text-shadow: 1px 1px 2px #000;
}

.box-maps {
    margin-top: 35px;
    margin-right: 35px;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
}

.login-container {
    background-color: purple;
    width: 100%;

}

/* box de login */
.login-box {
    font-family: "Rubik Wet Paint", system-ui;
    color: #fff;
    padding: 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4); 
    cursor: pointer;
    
}

.login-box p{
    margin-top: -10px;
}

/* titulo login */
.login-box h2 {
    margin-top: -40px;
    /* margin: 0 0 5px 0; */
    font-size: 45px;
    color: #ffcc00;
}

.create-account {
    margin: 0;
    font-size: 12px;
    cursor: pointer;
}

.navigation {
    padding: 0 0 10px 0;
}

.navbar {
    color: #fff;
}

/* coluna centro */
.box-center{
    justify-self: normal;
    padding: 10px;
    width: 60%;
    height: 350px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    overflow-x: hidden;
    margin-left: 400px;
}
/* background box central */
.content-box {
    margin-left: 40px;
    width: 60%;
    height: 100%;
    background-color: rgb(41, 39, 39);
    border: 1px solid #999;
    padding: 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.9)
}

.crie-sua-conta {
    color: #999;
    justify-content: flex-start;
    margin-right: 60px;
    margin-left: 20px;
    margin-top: 100px;
    display: flex;
    gap: 10px;
    border-bottom: 1px solid #999;
    font-size: 16px;
    font-weight: bold;
    /* text-transform: uppercase; */
    cursor: pointer;
}

.botaoLogin{
    width: 100%;
    height: auto;
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
}

.botaoLogin button{
    color: #999;
    margin-right: 50px;
    width: 100px;
    background-color: #444;
}

.text-news p{
    margin-left: 10px;
    font-size: 15px;
}

/* estilização do titulo da box */
.box-title {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 5px 10px;
    background-color: #000000;
    color: #999;
    font-size: 16px;
    border-bottom: 1px solid #ffffff;
}

.input-senha{
    color: aliceblue;
    background-color: #111111;
    margin-left: 4px;
    font-weight: bold;
    display: inline-block;
}

.text-senha{
    color: #999;
    font-weight: bold;
    margin-left: 48px;
    display: inline-block;
}

.input-email{
    color: aliceblue;
    background-color: #111111;
    margin-left: 8px;
    font-weight: bold;
    display: inline-block;
}

.text-email{
    color: #999;
    display: inline-block;
    font-weight: bold;
    margin-left: 50px;
}


/* Titulo - explicação sobre a historia */
.history .main-title {
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: #fff;
    margin: 20px 10px;
    padding-bottom: 5px;

}