
body{
    background-image: url(../assets/imgs/plano-de-fundo-texturizado-de-concreto-grunge-preto.jpg);
    background-color: #00000059;
    background-size: cover;
}

#botaoVoltar:focus,
#botaoSair:focus,
#botaoVoltar:active,
#botaoSair:active {
    outline: none;  
    background: inherit;  
    color: inherit;
}

#botaoVoltar,
#botaoSair {
    display: inline-block;
    padding: 10px 20px;
    background-color: #410c0c;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    max-width: 30%;
    
}

.botoesPlayer {
    display: flex;
    justify-content: center; 
    gap: 20px;              
    margin-top: auto;       
}



.dash {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 20px;
    height: 700px;
    margin-left: 10%;
    margin-top: 1%;
}
    
.header {
    height: 100px;
    grid-column: span 5 / span 5;
    margin-bottom: 5%;
    display: flex;
    align-items: center; 
    padding: 0 10px;
    justify-content: center;
}

.header-personagem {
    width: 100px; 
    height: 100px; 
    cursor: pointer;
}

.header-playerinfo{
    display: flex;
    width: 120px; 
    height: 120px; 
    margin-top: 20%;
    border: 5px solid #000000;
    margin-left: auto;
    margin-right: auto;
}

.player-info p{
    color: rgb(212, 2, 2);
    display: flex;
    font: bold;
    font-size: 20px;
    margin-left: 28%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.icones-header {
    display: flex;
    flex-direction: row;  
    align-items: center;
    gap: 60px;
    margin-left: 20px;
}

.player-info {
    backdrop-filter: blur(1px);
    background-color: rgba(0, 0, 0, 0.3);
    grid-row: span 4 / span 4;
    grid-row-start: 2;
    border: 5px solid #000000;
}

.dashboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 15px; 
    padding: 15px;
    backdrop-filter: blur(1px);
    background-color: rgba(0, 0, 0, 0.3);
    border: 5px solid #000000;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    height: 92%;
    grid-column: span 3 / span 3;
    grid-row: span 4 / span 4;
    grid-row-start: 2;
}
      
.card-kpi {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 100%;
    color: rgb(204, 33, 33);
    background-color: rgba(12, 11, 11, 0.644);
    border: 3px solid rgba(70, 14, 14, 0.801);
    border-radius: 3px ;
    margin-top: 10%;
    margin-left: 10%;
    padding: 5px;
    height: 80px;
    width: 100px;
}

.card-kpi span{
    display: flex;
    font-size: 180%;
    justify-content: center;


}

#descricaoClasse {
    min-height: 100px;  
    width: 80%;          
    font-size: 16px;
    text-align: center;
    padding: 10px;
    line-height: 1.2;
    white-space: normal;   
    /* height: auto !important; */
}

.selecao-personagem {
    grid-column: 1 / span 3; 
    display: flex;
    align-items: center; 
    gap: 10px; 
    background-color: rgba(0, 0, 128, 0.2); 
    border: 1px solid white;
    padding: 20px;
    height: 170px;
    margin-top: 7%;
    width: 50%;
}

.selecao-personagem img {
    margin-top: 40px;
    width: 200px;
    height: 200px;
    margin-bottom: 5%;
    
}

.painel-lateral {
    display: flex;
    flex-direction: column;
    width: 220px;
    gap: 20px;
    margin-left: 60%;
}

.habilidades {
    display: flex;
    justify-content: center;
    gap: 10px;
  
}

.habilidades img {
    width: 55px;
    height: 55px;
    object-fit: contain;
    padding: 4px;
    background: rgba(0,0,0,0.5);
    border-radius: 10px;
    border: 2px solid #611010;
    margin-left: 20%;
}

.titulo-habilidades {
    text-align: center;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(212, 202, 202);
}



.status-personagem{
    margin-top: 7%;
    color: aliceblue;
    display: flex;
    text-align: start;
    justify-content: flex-end;
   
}