
@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');

.login-box h2 a:link,
.login-box h2 a:visited,
.login-box h2 a:active {
    color: gold; 
    
    text-decoration: none; 
}

.login-box h2 a:hover {
    color: gold;
    text-decoration: none;
}

.selected {
    color: gold !important;
}

.sub-navbar a:link,
.sub-navbar a:visited,
.sub-navbar a:active {
    color: aliceblue; 
    text-decoration: none; 
}

.sub-navbar a{
    display: flex;
    width: 100%;
    height: 100%;
}

.sub-navbar a:hover {
    color: gold; 
    text-decoration: none;
}

body {
    background-image: url(/Repositório-Técnico/public/assets/imgs/background_page.png);
    background-color: #000;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; 
    color: aliceblue;
    background-color: #211d17;
    display: flex;
    justify-content: center;
}

.page-container {
    width: 1200px; 
}

/* Header  */
.header-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    height: 40px;
    
}

.logo-area {
    display: flex;
    margin-left: 550px;
    gap: 10px
}

.title-icon {
    height: 17px;
    width: auto;
}

.char-icon {
    width: 45px; 
    height: 45px;
    margin-right: 5px;
}

.titulo-header{
    height: 40px;
    width: auto;
}

.tibia-title {
    font-size: 40px;
    font-weight: bold;
    color: gold;
    text-shadow: 1px 1px 2px #000;
     text-shadow: 1px 1px 2px #000;
}

.box-maps {
    margin-top: 35px;
    margin-right: 35px;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
}

/* divisão das partes da pagina*/
.main-grid {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 200px 1fr 180px;
    gap: 15px; 
    padding-top: 5px;
}


/* Navbar esquerda*/
.sidebar-left {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.4); 
    border-right: 1px solid #444;
    max-height: 600px;
    z-index: 1000;
    
    
}
/* box de login */
.login-box {
    font-family: "Rubik Wet Paint", system-ui;
    color: #fff;
    padding: 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4); 
    cursor: pointer;
     text-shadow: 1px 1px 2px #000;
    
}

.login-box p{
    margin-top: -10px;
}

/* titulo login */
.login-box h2 {
    margin-top: -40px;
    /* margin: 0 0 5px 0; */
    font-size: 45px;
    color: #ffcc00;
}

.create-account {
    margin: 0;
    font-size: 12px;
    cursor: pointer;
}

.navigation {
    padding: 0 0 10px 0;
}

.navbar {
    color: #fff;
}
/* Navbar esquerda - Biblioteca/Mundo  */
.navbar h3 {
    font-family: "Rubik Wet Paint", system-ui;
    margin: 0;
    padding: 5px 10px;
    background-color: #5d0c0c; 
    border-bottom: 2px solid #a01010;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
     text-shadow: 1px 1px 2px #000; 
}

.sub-navbar {
    list-style: none;
    padding: 5px 0;
    margin: 0;
}

.sub-navbar li {
    padding: 5px 15px;
    font-size: 14px;
    color: #f0f0f0;
    cursor: pointer;
}

.sub-navbar li:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/* coluna centro */
.box-center{
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}
/* background box central */
.content-box {
    background-color: rgba(50, 0, 0, 0.7);
    border: 1px solid #663333;
    padding: 0;
}

.text-news p{
    margin-left: 10px;
    font-size: 15px;
}

/* estilização do titulo da box */
.box-title {
    margin: 0;
    padding: 5px 10px;
    background-color: #660000;
    color: #fff;
    font-size: 16px;
    border-bottom: 1px solid #993333;
}

/* Titulo - Equipamento*/
.history .main-title {
    font-size: 40px;
    color: #fff;
    margin: 20px 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #993333;
     text-shadow: 1px 1px 2px #000;
}

/* Sidebar direita Mapa/Monstro */
.sidebar-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 40px;
}
/* especificações do mapa */
.minimap-container {
    width: 100%;
    max-width: 150px; 
    border: 3px solid #5d0c0c; 
    background-color: #000;
    margin-bottom: 20px;
}

.minimap-image {
    width: 100%;
    display: block;
}

/* container monstro */
.monster-image-container {
    position: relative;
    width: 100%;
}
/* especificações imagem do monstro */
.monster-image {
    width: 180px; 
    display: block;
    margin-right: 40px;
}

/* estilização da lista */

.box-history {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
}

/* estilização do card */
.card-itens {
    background-color: rgba(30, 0, 0, 0.7);
    border: 1px solid #990000;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 8px; 
}

/* nome do monstro */
.header-itens {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-bottom: 5px;
    flex-direction: column-reverse;
    
}

.nome-item {
    margin: 0;
    font-size: 17px;
    color: #ffcc00;
    font-family:  Arial, sans-serif;
}

/* imagem monstro */
.item-img-lista {
    width: 64px;
    height: 64px;
    border: 2px solid #ffcc00;
    background-color: #000;
}



/* descrição monstros */
.itens-details {
    display: flex;
    flex-wrap: wrap; 
    gap: 30px;
    font-size: 14px;
    color: #ccc;
    padding: 20px ;
    
}

/* xp dos monstros */
.monster-xp {
    display: flex;
    align-items: center;
}

/* descrição monstros */
.descricao-item p {
    font-size: 15px;
    line-height: 1.4;
    color: #f0f0f0;
    padding-top: 30px;
    
}
