@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');

.content-box a:link,
.content-box a:visited,
.content-box a:active {
    color: #999; 
    text-decoration: none; 
}

body {
    background-image: url(../assets/imgs/mapanovovfinalv3.png);
    background-color: #00000059;
    background-size: auto;
    /* background-attachment: fixed; */
    background-position: center center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; 
    color: aliceblue;
    background-color: rgb(71, 64, 58);
    display: flex;
    justify-content: center;
    
}



main {
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 80%;
    gap: 5%;
}

/* header {
    display: flex;
    margin-top: 40px;
    justify-content: flex-end;
    align-items: center;
    
} */

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-icon {
    height: 17px;
    width: auto;
}

.char-icon {
    width: 45px; 
    height: 45px;
    margin-right: 5px;
}

.titulo-header{
    height: 40px;
    width: auto;
}

.tibia-title {
    font-size: 40px;
    font-weight: bold;
    color: gold;
    text-shadow: 1px 1px 2px #000;
}

.box-maps {
    margin-top: 35px;
    margin-right: 35px;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
}

.login-container {
    width: 100%;

}

/* box de login */
.login-box {
    font-family: "Rubik Wet Paint", system-ui;
    color: #fff;
    padding: 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4); 
    cursor: pointer;
    
}

.login-box p{
    margin-top: -10px;
}

/* titulo login */
.login-box h2 {
    margin-top: -40px;
    /* margin: 0 0 5px 0; */
    font-size: 45px;
    color: #ffcc00;
}

.create-account {
    margin: 0;
    font-size: 12px;
    cursor: pointer;
}

.navigation {
    padding: 0 0 10px 0;
}

.navbar {
    color: #fff;
}

/* coluna centro */
.box-center{
    justify-self: normal;
    padding: 10px;
    width: 60%;
    height: 350px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    overflow-x: hidden;
    margin-left: 400px;
}
/* background box central */
.content-box {
    margin-top: 100px;
    margin-left: 40px;
    width: 50%;
    height: 87%;
    background-color: rgb(41, 39, 39);
    border: 1px solid #999;
    padding: 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.9)
}

.content-box li{
    color: #999;
    justify-content: flex-start;
    margin-right: 60px;
    margin-left: 20px;
    margin-top: 100px;
    display: flex;
    gap: 10px;
    border-bottom: 1px solid #999;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.botaoLogin{
    width: 100%;
    height: auto;
    margin-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: flex-end;
}

.botaoLogin button{
    color: #999;
    margin-right: 50px;
    width: 100px;
    background-color: #444;
}

.text-news p{
    margin-left: 10px;
    font-size: 15px;
}

/* estilização do titulo da box */
.box-title {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 5px 10px;
    background-color: #000000;
    color: #999;
    font-size: 16px;
    border-bottom: 1px solid #ffffff;
}

.input_senha{
    color: aliceblue;
    background-color: #111111;
    margin-left: 91px;
    font-weight: bold;
    display: inline-block;
}


.input-confirmar{
    color: aliceblue;
    background-color: #111111;
    margin-left: 10px;
    font-weight: bold;
    display: inline-block;
}

.input_email{
    color: aliceblue;
    background-color: #111111;
    margin-left: 97px;
    font-weight: bold;
    display: inline-block;
}

.text-email, .text-senha{
    color: #999;
    font-weight: bold;
    margin-left: 20px; 
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
}

.text-email{
    margin-top: 20px;
}

.main-grid{
    display: flex;
    justify-content: center;
    margin-top: 130px;
}


/* Titulo - explicação sobre a historia */
.history .main-title {
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: #fff;
    margin: 20px 10px;
    padding-bottom: 5px;

}