@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');

.content-box a:link,
.content-box a:visited,
.content-box a:active {
    color: #999; 
    text-decoration: none; 
}

body {
    background-image: url(../assets/imgs/mapa-global.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: top left;
    overflow: auto;
    overflow-x: scroll;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; 
    color: aliceblue;
  
    
}



main {
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 80%;
    gap: 5%;
}

.botao-esquerda {
    bottom: 20px;
    left: 20px;
    padding: 12px 20px;
    background-color: #ffcc00;
    color: #000;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    position: fixed;
    z-index: 999;
}
